/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255,222,85);
    -fx-border-color: rgb(240,238,230);
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,221,78);
    -fx-border-color: rgb(244,242,193);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,248,80);
    -fx-border-color: rgb(60,30,26);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
   // -fx-shadow:10px 10px 5px #888888;
}
.vertical_toolbar_button {
    -fx-background-color: rgb(255,222,85);
    -fx-border-color: rgb(240,238,230);
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 20px;
    -fx-background-radius: 10.0;
}

.horizontal_toolbar_button { 
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(228,91,62);
    -fx-border-color: rgb(240,238,230);
    //-fx-padding-left: 10px;
    //-fx-padding-right: 10px;
    //-fx-padding-top: 10px;
    //-fx-padding-bottom: 10px;
    -fx-spacing: 20px;
}
/*.label_language_selection_prompt {
     -fx-background-color: rgb(60,30,26);
    //label-set to yellow
}
.button {
    //set button bg to white and text to black
     background-color: rgb(7,71,129);
}

.language_selection_combo_box {
     -fx-background-color: rgb(60,30,26);
     -fx-border-color: rgb(240,238,230);
    //bg to yellow
}

.language_selection_dialog {
    -fx-background-color: rgd(255,222,85);
    -fx-padding: 10px;
    
}
*/
.vbox {
    -fx-background-color: rgb(255,222,85);
    -fx-border-color: rgb(240,238,230);
}
