/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-10-13, 23:40:53
    Author     : sunjl
*/

.language_selection_dialog {
     -fx-background-color: rgb(255, 169, 53);
    //bg to yellow
}

.language_selection_combo_box {
    -fx-background-color: rgb(255, 180, 0);
  //  -fx-padding: 10px;
    
}
