/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255,222,85);
    -fx-border-color: rgb(240,238,230);
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,221,78);
    -fx-border-color: rgb(244,242,193);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.selected_slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(239, 110, 3);
    -fx-border-color: rgb(60,30,26);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
   // -fx-shadow:10px 10px 5px #888888;
}
.vertical_toolbar_button {
    -fx-background-color: rgb(255,222,85);
    -fx-border-color: rgb(240,238,230);
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 20px;    
    -fx-background-radius: 10.0;

}

.horizontal_toolbar_hBox {
    -fx-background-color: rgb(228, 91, 62); 
}

.horizontal_toolbar_button { 
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(228, 91, 62);
    -fx-border-color: rgb(240,238,230);
    -fx-padding: 15px 15px 15px 15px;
    //-fx-padding-left: 30px;
    //-fx-padding-right: 30px;
    //-fx-padding-top: 30px;
    //-fx-padding-bottom: 30px;
    -fx-spacing: 20px;
}
/*.label_language_selection_prompt {
     -fx-background-color: rgb(60,30,26);
    //label-set to yellow
}
*/
/*.button {
    //set button bg to white and text to black
    //-fx-background-color: rgb(255,180,0);
-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
*/

.vbox {
    -fx-background-color: rgb(255, 180, 0);
    -fx-border-color: rgb(240,238,230);
}
