table{
    width: 100%;
    height: 98%;
}
.tr_h_50{
    height: 50px;
}
.tr_h_450{
    height: 450px;
}
.td_align{
    text-align: center;
}
#previous{
    margin-right: 20px;
    vertical-align: middle;
}
#start_stop{
    margin-right: 20px;
    vertical-align: middle;
}
#next{
    vertical-align: middle;
}
#slidePic{
    max-width: 500px;
    height:400px;
}

#title{font-size:28px;
color:yellow;}

#caption{font-size:10px;
color:yellow;}